*,:after,:before{box-sizing:border-box;}
section{
    display:block;
}
h2{
    margin-top:0;margin-bottom:.5rem;
}
ul{
    margin-bottom:1rem;
}
ul{
    margin-top:0;
}
h2{
    margin-top:0;margin-bottom:.5rem;
}
ul{
    margin-bottom:1rem;
}
ul{
    margin-top:0;
}
a{
    color:#152935;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;
}
a:hover{
    color:#000;text-decoration:underline;
}
img{
    vertical-align:middle;border-style:none;
}
h2{
    margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;
}
h2{
    font-size:2rem;
}
.img-fluid{
    max-width:100%;height:auto;
}
a{
    font-size:.75rem;
}
a{
    color:#000;
}
h2{
    font-size:40px;
}
a{
    color:#000;
}
.landing_heading_container{
    position:relative;
    text-align:center;
    margin:2% 0;width:100%;
}
.landing_heading_container .landing_heading {
    font-size:30px;
    line-height:34px;
    letter-spacing:.6px;
    color:#2c2a29;
    font-weight:700;
    display:inline;
    background-color:#fff;
    padding:0 3%;
}
@media (max-width:544px){
    .landing_heading_container .landing_heading{font-size:24px;}
}
.landing_heading_container::before{display:block;position:absolute;z-index:-1;content:"";top:50%;left:0;width:100%;height:2px;background-color:#2c2a29;}
@media (min-width:1200px){
    .landing_heading_container{margin:2% 0;}
}
@media (min-width:545px){
    .cat-grid_slider{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
}
@media (min-width:1320px){
    .cat-grid_slider{position:relative;}
}
.cat-grid_slider .cat-grid_slider_arrow{display:none;}

@media (min-width:1410px){
    .cat-grid_slider .cat-grid_slider_arrow{position:absolute;}
}
@media (min-width:1410px){
    .cat-grid_slider .cat-grid_slider_arrow.arrow-prev{left:-50px;}
}
@media (min-width:1410px){
    .cat-grid_slider .cat-grid_slider_arrow.arrow-next{right:-50px;}
}
.cat-grid_slider .slider-box{display:-webkit-box;display:-ms-flexbox;display:flex;overflow-x:scroll;-webkit-overflow-scrolling:touch;margin:0;padding:0;width:100%;}
@media (min-width:1320px){
    .cat-grid_slider .slider-box{overflow-x:hidden;}
}
.cat-grid_slider .slider-box .cat-grid_slide{-ms-flex-negative:0;flex-shrink:0;height:100%;list-style:none;width:44%;margin:2% .5%;padding:2% .5%;}
@media (min-width:545px){
    .cat-grid_slider .slider-box .cat-grid_slide{width:29%;}
}
.cat-grid_slider .slider-box .cat-grid_slide a:hover{-webkit-transition:.15s;-o-transition:.15s;transition:.15s;opacity:.85;text-decoration:none;}
.cat-grid_slider .slider-box .cat-grid_slide img{max-width:100%;min-height:1px;max-height:250px;}
@media (min-width:1200px){
    .cat-grid_slider .slider-box[data-max-slide="6"] .cat-grid_slide{width:16.3%;margin:2% .166%;}
}
