.header-login-logout{
    width: 25%;  margin-left: 300px; margin-right: 200px
}

.header-image{
    color: #081532; font-size: 20px; font-weight: bold; margin-right: 20px
}

.header-icon{
    font-size:24px; margin-left: 20px
}