body {
    font-family: 'Ubuntu', sans-serif;
}


h2 {
    margin: 1em 0 0.5em 0;
    font-weight: normal;
    position: relative;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 28px;
    line-height: 40px;
    background: #355681;
    background: rgba(53,86,129, 0.8);
    border: 1px solid #fff;
    padding: 5px 15px;
    color: white;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
    font-family: 'Muli', sans-serif;
}

.rwd-table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border: 2px gray solid;
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
}


.rwd-table {
    background: #6d8bc1;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}

@media (min-width: 300px) {
    .rwd-table th,
    .rwd-table td {
        padding: 0.5em !important;
    }
}
.rwd-table th,
.rwd-table td:before {
    color: #0d327dff;
}
